Repository christiantld/vue3-ds-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{json, css}": ["prettier --write"],
  "**/*.{ts,vue}": ["eslint --fix", "prettier --write"]
}

feat: plop as package
  actions/generators/package.json
  actions/generators/src/plopfile.js
  actions/generators/src/templates/[name].vue.hbs
  actions/generators/src/templates/[stories].mdx.hbs
  actions/generators/src/templates/[styles].css.hbs
  actions/generators/src/templates/[test].ts.hbs
  actions/generators/src/templates/[types].ts.hbs
  package.json
  packages/vue/package.json
Due: prettier --write

chore: modific generate add skip exist files and fix paths
  actions/generators/src/plopfile.js
  package.json
  packages/vue/src/components/MButton/types.ts
Due: prettier --write, eslint --fix

refactor: update plop file
  actions/generators/src/plopfile.js
  package.json
Due: prettier --write

chore: modific generate add skip exist files and fix paths (#5)
  actions/generators/src/plopfile.js
  packages/vue/src/components/MButton/types.ts
Due: prettier --write, eslint --fix

chore: add control args exemple
  packages/vue/src/components/MButton/MButton.stories.mdx
Due: none

chore: :art: add talwind
  package.json
  packages/styles/components/Chris.module.css
  packages/styles/package.json
  packages/types/components/Chris.ts
  packages/vue/.storybook/main.cjs
  packages/vue/.storybook/preview.cjs
  packages/vue/main.css
  packages/vue/package.json
  packages/vue/postcss.config.cjs
  packages/vue/src/components/Chris/Chris.spec.ts
  packages/vue/src/components/Chris/Chris.stories.mdx
  packages/vue/src/components/Chris/Chris.vue
  packages/vue/tailwind.config.cjs
  yarn.lock
Due: prettier --write, eslint --fix

fix: delete Chris test component
  packages/styles/components/Chris.module.css
  packages/vue/src/components/Chris/Chris.spec.ts
  packages/vue/src/components/Chris/Chris.stories.mdx
  packages/vue/src/components/Chris/Chris.vue
Due: prettier --write, eslint --fix

fix: move Button style to styles package
  packages/styles/components/MButton.module.css
  packages/vue/src/components/MButton/MButton.module.css
  packages/vue/src/components/MButton/MButton.vue
Due: prettier --write, eslint --fix

chore: fix plopfile vue template
  actions/generators/src/templates/[name].vue.hbs
Due: none

fix: remove unused type file
  packages/types/components/Chris.ts
Due: prettier --write, eslint --fix

feat: add storie docs example
  packages/styles/components/MButton.module.css
  packages/vue/src/components/MButton/MButton.stories.mdx
  packages/vue/src/components/MButton/MButton.vue
Due: prettier --write, eslint --fix

fix: css module import
  package.json
  packages/styles/components/MButton.module.css
  packages/styles/global.css
  packages/styles/package.json
  packages/vue/.storybook/preview.cjs
  packages/vue/package.json
  packages/vue/postcss.config.cjs
Due: prettier --write

fix: yarn with husky on windows
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: :art: add talwind (#6)
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  actions/generators/src/templates/[name].vue.hbs
  package.json
  packages/styles/components/MButton.module.css
  packages/styles/global.css
  packages/styles/package.json
  packages/vue/.storybook/main.cjs
  packages/vue/.storybook/preview.cjs
  packages/vue/package.json
  packages/vue/postcss.config.cjs
  packages/vue/src/components/MButton/MButton.module.css
  packages/vue/src/components/MButton/MButton.stories.mdx
  packages/vue/src/components/MButton/MButton.vue
  packages/vue/tailwind.config.cjs
  yarn.lock
Due: prettier --write, eslint --fix

feat: .gitattributes file
  .gitattributes
Due: none

fix: white space
  .gitattributes
Due: none

chore: .gitattributes file (#7)
  .gitattributes
Due: none
